[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[packages]
pandas = "*"
pystache = "*"

[dev-packages]
sphinx = "*"
nose = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
